*{
	margin: 0;
	padding: 0;
}

header > nav {
	background-color: #000;
}

header > nav > ul {
	display: flex;
}

header > nav > ul > li {
	color: #FFF;
	padding: 20px 30px;
	list-style: none;
	cursor: pointer;
}
header > nav > ul > li > a{
	text-decoration: none;
	color: #FFF;
}

.connect{
	background-color: blue;
}
.disconnect{
	background-color: red;
}
#register_connection{
	width: 80%;
	margin:  10% auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
#connection, #register{
	width: 43%;
	padding: 30px;
	border-radius: 5px;
	border: 2px solid grey;
	margin:  0 auto;
}
#connection h2, #register h2{
	text-align: center;
}
#connection form, #register form{
	display: flex;
	flex-direction: column;
	margin: auto;
}
#connection input, #register input{
	padding: 5px;
	margin: 2px;
}

#connection input[type=submit], #register input[type=submit]{
	width: 100px;
	padding: 10px;
	background-color: blue;
	border: none;
}

.post{
	border: 2px solid black;
	width: 30%;
	padding: 10px;
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
}

.post a,#post_create input[type=submit], #show article a, #button_topic{
	background-color: red;
	padding: 5px 10px;
	color: #FFF;
	border: none;
	cursor: pointer;
}

#post_create{
	width: 30%;
	display: flex;
	justify-content: space-between;
}

#post_create textarea{
	width: 100%;
	resize: none;
}

#post_create input[type=submit]{
	background-color: blue;
}
#button_topic{
	position: absolute;
	background-color: orange;
}
#show{
	margin-top: 3%;
}
#show article{
	margin-left: 1%;
	width: 98%;
	padding: 10px 0;
	border-bottom: 1px solid black;
}

#show article a{
	background-color: grey;
}